In [20]:
import warnings
warnings.filterwarnings('ignore')
import math

# Data strectures

# Question 1

Let's learn about list comprehensions! You are given three integers x,y and Z representing the dimensions of a cuboid along with an integer n . Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n. Here,0<i<x,0<i<y,0<k<z . Please use list comprehensions rather than multiple loops, as a learning exercise.

Input Format

Four integers x,y and Z, n each on a separate line.

Constraints

Print the list in lexicographic increasing order.

In [93]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
output =[([i,j,k]) for i in range(x+1) for j in range(y+1)for k in range(z+1) if i+j+k !=n]
print(output)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [87]:
x,y,z = 1,2,3

In [90]:
x,y,z,n = int(input()),int(input()),int(input()),int(input())

1
1
1
1

# Question 2

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given n  scores. Store them in a list and find the score of the runner-up.

Input Format

The first line contains n . The second line contains an array a[] of n integers each separated by a space.

Output Format

Print the runner-up score.

In [42]:
n = int(input())
a =  list(map(int,input().split()))
a = list(set(a))
a.remove(max(a))
print(max(a))

5
2 3 6 6 5
5

# Question 3

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Input Format

The first line contains an integer,N , the number of students.
The 2N subsequent lines describe each student over 2 lines.
- The first line contains a student's name.
- The second line contains their grade.

Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

In [78]:
n = int(input())
data = []
marks = set()
for i in range(n):
    info = []
    name= input()
    grade= float(input())
    data.append([name,grade])
    marks.add(grade)
    
second   =  sorted(marks)[1]
second_lowest= []

for i in data:
    if i[1] == second:
        second_lowest.append(i)

second_lowest = sorted(second_lowest)
for i in  second_lowest:
    print(i[0])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

# Question 4

List

Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer e at position i.
print: Print the list.
remove e: Delete the first occurrence of integer e.
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.
Initialize your list and read in the value of n followed by n lines of commands where each command will be of the 7 types listed above. Iterate through each command in order and perform the corresponding operation on your list.

Input Format

The first line contains an integer,n , denoting the number of commands.
Each line i of the n subsequent lines contains one of the commands described above.

Constraints

The elements added to the list must be integers.

Output Format

For each command of type print, print the list on a new line

In [19]:
lis= []
n = int(input())
for i in range(n):
    
    raw = list(input().split())
    command = raw[0]
    value = list(map(int,raw[1:]))           
                              
    if command == 'append':
        lis.append(value[0])
    elif command ==  'remove':
        lis.remove(value[0])
    elif  command == 'insert':
        lis.insert(value[0],value[1])
    elif  command =='pop':
        lis.pop()         
    elif  command == 'sort':        
        lis.sort()             
    elif  command =='reverse':
        lis.reverse()
    elif  command == 'print':
        print(lis)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
[5, 10, 9]
append 1
[5, 10, 9, 1]
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

# Question 6

Dictionary

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.
    
Input Format

The first line contains the integer n, the number of students' records. The next n lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

Output Format

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

In [40]:
n = int(input())
data = {}
for i in range(n):
    raw = input().split()
    name = raw[0]
    marks = list(map(float,raw[1:]))
    data[name] = marks
    
particular_student = input()
marks_particular_student = data[particular_student]
avg = sum(marks_particular_student)/len(marks_particular_student)
print( '%.2f'%avg)

2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh
26.50

# Qeustion 7

Tuple

Given an integer,n, and n space-separated integers as input, create a tuple,t, of those n integers. Then compute and 
print the result of hash(t) .

Note: hash() is one of the functions in the __builtins__ module, so it need not be imported.

Input Format

The first line contains an integer,n, denoting the number of elements in the tuple.
The second line contains n space-separated integers describing the elements in tuple .

Output Format

Print the result of hash(t) .

In [12]:
n = int(input())
lis = list(map(int,input().split()))
print('sample list is',lis)
tup = []
for i in range(n):
    tup.append(lis[i])
print('sample list of tuple is', tup)
t= tuple(tup)
print('the requried tuple is',t)
print(hash(t))

2
1 2 3 4
sample list is [1, 2, 3, 4]
sample list of tuple is [1, 2]
the requried tuple is (1, 2)
-3550055125485641917

# Question 8

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Input Format

The first line contains the integer n , the number of students' records. The next n lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

output Format

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

In [4]:
n = int(input())
students = {}
for i in range(n):
    
    data = input().split()
    name = data[0]
    marks = list(map(float,data[1:]))
    students[name]=marks
print(students) 


output = input()
total_marks =0

for i in range(len(students[output])):
    
    total_marks += students[output][i]

avg =    total_marks/len(students[output])
print('%.2f'%avg)

2
jaga 30 40 50
raju 60 70 80
{'jaga': [30.0, 40.0, 50.0], 'raju': [60.0, 70.0, 80.0]}
jaga
40.00

In [ ]:
2
jaga 30 40 50
raju 60 70 80
{'jaga': [30, 40, 50], 'raju': [60, 70, 80]}
jaga
120

# sets

# Question 9

Set .add()


Apply your knowledge of the .add() operation to help your friend Rupal.

Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of N  country stamps.

Find the total number of distinct country stamps.

Input Format

The first line contains an integer N , the total number of country stamps.
The next N lines contains the name of the country where the stamp is from.

In [23]:
N = int(input())
country = set()
for i in range(N):
    country.add(input())
print('number of distinct country stamps are',country)
print('the total number of distinct country stamps',len(country))

7
UK
Chinna
USA
France
New Zealand
UK
France
number of distinct country stamps are {'USA', 'Chinna', 'France', 'New Zealand', 'UK'}
the total number of distinct country stamps 5

# Question 10

Introduction to Sets


Now, let's use our knowledge of sets and help Mickey.

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

Formula used:

       Average = sum of the distant heights/total no of distant heights
    
Function Description

Complete the average function in the editor below.

average has the following parameters:

int arr: an array of integers
    
Returns

float: the resulting float value rounded to 3 places after the decimal
    
Input Format

The first line contains the integer,n , the size of arr.
The second line contains the n space-separated integers, arr[i] .

In [43]:
N = int(input())

num_of_trees = set(map(int,input().split()))

sum_ = sum(num_of_trees)

average = sum_/len(num_of_trees)

print(round(average,ndigits =3))

10
161 182 161 154 176 170 167 171 170 174
169.375

# Question 11

pop, remove and discard

You have a non-empty set s , and you have to execute M commands given in M lines.

The commands will be pop, remove and discard.

Input Format

The first line contains integer n, the number of elements in the set s.
The second line contains n space separated elements of set s. All of the elements are non-negative integers, less than or equal to 9.
The third line contains integer M, the number of commands.
The next N lines contains either pop, remove and/or discard commands followed by their associated value.

Constraints

0<n<20
0<M<20



Output Format

Print the sum of the elements of set  on a single line.

In [58]:
n=int(input())

s = set(map(int,input().split()))

M=int(input())

for i in range(M) :
    choice=input().split()
    if choice[0]=="pop" :
        s.pop()
    elif choice[0]=="remove" :
        s.remove(int(choice[1]))
    elif choice[0]=="discard" :
        s.discard(int(choice[1]))

print (sum(s))

5
1 3 5 7 6 6
5
remove 5
discard 7
pop
remove 3
pop
0

# Question 12

UNION function

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

Input Format

The first line contains an integer,n , the number of students who have subscribed to the English newspaper.
The second line contains n space separated roll numbers of those students.
The third line contains b, the number of students who have subscribed to the French newspaper.
The fourth line contains b space separated roll numbers of those students.

In [60]:
n = int(input())
english = set(map(int,input().split()))
b= int(input())
french = set(map(int,input().split()))

Atleat_one = english.union(french)
print('total number of students who have subscribed to at least one newspaper',len(Atleat_one))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
total number of students who have subscribed to at least one newspaper 13

# Question 13

set.intersection() operation

The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find Your task is to find the total number of students who have subscribed to both newspapers.

Input Format

The first line contains an integer,n , the number of students who have subscribed to the English newspaper.
The second line contains n space separated roll numbers of those students.
The third line contains b, the number of students who have subscribed to the French newspaper.
The fourth line contains b space separated roll numbers of those students.

Output Format

Output the total number of students who have subscriptions to both English and French newspapers.

In [62]:
n = int(input())
english = set(map(int,input().split()))
b= int(input())
french = set(map(int,input().split()))

Both = english.intersection(french)
print(Both)
print('the total number of students who have subscribed to both newspapers',len(Both))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
{1, 2, 3, 6, 8}
the total number of students who have subscribed to both newspapers 5

# Question 14

Set .difference() Operation


The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to only English newspapers.

Input Format

The first line contains an integer,n , the number of students who have subscribed to the English newspaper.
The second line contains n space separated roll numbers of those students.
The third line contains b, the number of students who have subscribed to the French newspaper.
The fourth line contains b space separated roll numbers of those students.

Output Format

Output the total number of students who are subscribed to the English newspaper only.

In [65]:
n = int(input())
english = set(map(int,input().split()))
b= int(input())
french = set(map(int,input().split()))

only_english = english.difference(french)
print(only_english)
print('the total number of students who have subscribed to both newspapers',len(only_english))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
{9, 4, 5, 7}
the total number of students who have subscribed to both newspapers 4

# Question 15

Set .symmetric_difference() Operation


Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

Input Format

The first line contains the number of students who have subscribed to the English newspaper.
The second line contains the space separated list of student roll numbers who have subscribed to the English newspaper.
The third line contains the number of students who have subscribed to the French newspaper.
The fourth line contains the space separated list of student roll numbers who have subscribed to the French newspaper.

Output Format

Output total number of students who have subscriptions to the English or the French newspaper but not both.

In [69]:
n = int(input())
english = set(map(int,input().split()))
b= int(input())
french = set(map(int,input().split()))

either_one_of_them = english.symmetric_difference(french)
print(either_one_of_them)
print('the total number of students who have subscribed to both newspapers',len(either_one_of_them))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
{4, 5, 7, 9, 10, 11, 21, 55}
the total number of students who have subscribed to both newspapers 8

# Question 16

Set Mutations

update(),intersection_update(),difference_update(),symmetric_difference_update()

You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set .

Your task is to execute those operations and print the sum of elements from set A .

Input Format

The first line contains the number of elements in set A .
The second line contains the space separated list of elements in set A .
The third line contains integer N , the number of other sets.
The next  lines are divided into N parts containing two lines each.
The first line of each part contains the space separated entries of the operation name and the length of the other set.
The second line of each part contains space separated list of elements in the other set.

Output Format

Output the sum of elements in set A .

In [82]:
n = int(input())
A = set(map(int,input().split()))
N= int(input())
for i in range(N):
    data = input().split()
    B= set(map(int,input().split()))
    if data[0] == 'update':
        A.update(B)
    elif data[0] == 'intersection_update':
        A.intersection_update(B)
    elif data[0] == 'difference_update':
        A.difference_update(B)
    elif data[0] == 'symmetric_difference_update':
        A.symmetric_difference_update(B)
print(sum(A))

16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
 intersection_update 10
 2 3 5 6 8 9 1 4 7 11
 update 2
 55 66
 symmetric_difference_update 5
 22 7 35 62 58
 difference_update 7
 11 22 35 55 58 62 66
38

# Question 17

Subset:
A subset is a set whose elements are all members of another set.

Task:

You are given two sets, A and B .
Your job is to find whether set A is a subset of set B .

If set A is subset of set B, print True.
If set A is not a subset of set B , print False.

Input Format

The first line will contain the number of test cases, T .
The first line of each test case contains the number of elements in set A.
The second line of each test case contains the space separated elements of set A .
The third line of each test case contains the number of elements in set B.
The fourth line of each test case contains the space separated elements of set B .

Output Format

Output True or False for each test case on separate lines.

In [8]:
T = int(input())
for i in range(T):
    N = int(input())
    A = set(map(int,input().split()))
    M = int(input())
    B = set(map(int,input().split()))
    print(A.issubset(B))

2
2
1 2
4
1 2 3 4
True
3
4 5 6
5
7 8 5 6
False

# Question 18

strict superset

A strict superset has at least one element that does not exist in its subset. 

Task:

You are given a set A and N other sets.
Your job is to find whether set A is a strict superset of each of the N sets.

Print True, if A is a strict superset of each of the N sets. Otherwise, print False.

Input Format

The first line contains the space separated elements of set n .
The second line contains integer , the number of other sets.
The next n lines contains the space separated elements of the other sets.

Output Format

Print True if set A is a strict superset of all other N sets. Otherwise, print False.

In [80]:
A = set(map(int,input().split()))
N = int(input())
is_superset = []
for i in range(N):
    B = set(map(int,input().split()))
    is_superset.append(A.issuperset(B))
    
for i in range(len(is_superset)):
    if is_superset[i] == False:
        result = False
        break
    else:
        result = True
    
        
        
        
print (result)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

In [ ]:
1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78

2
1 2 3 4 5
100 11 12
False

A = set(input().split())

for _ in range(int(input())):
    if not A.issuperset(set(input().split())):
        print(False)
        break
else:
    print(True)

# Question 19

Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:
→ A Captain.
→ An unknown group of families consisting of  members per group where  k≠ 1.

The Captain was given a separate room, and the rest were given one room per group.

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear k times per group except for the Captain's room.

Mr. Anant needs you to help him find the Captain's room number.
The total number of tourists or the total number of groups of families is not known to you.
You only know the value of k and the room number list.

Input Format

The first line consists of an integer,K, the size of each group.
The second line contains the unordered elements of the room number list.

Output Format

Output the Captain's room number.

In [39]:
k= int(input())
a = list(map(int,input().split()))
for i in range(len(a)):
    if (a.count(a[i])) == 1:
        print(a[i])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [42]:
k = int(input())
lis = list(map(int, input().split(' ')))
print(lis)
print('#############')
set_ = set(lis)
print(set_)
print('#############')

for i in set_:
    lis.remove(i)
    print(lis)
    print('#############')
    
    if i not in lis:
        print('captions room number is:', i)
        break

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
[1, 2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
#############
{1, 2, 3, 4, 5, 6, 8}
#############
[2, 3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
#############
[3, 6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
#############
[6, 5, 4, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
#############
[6, 5, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
#############
[6, 4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
#############
[4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 8, 4, 3, 1, 5, 6, 2]
#############
[4, 2, 5, 3, 6, 1, 6, 5, 3, 2, 4, 1, 2, 5, 1, 4, 3, 6, 4, 3, 1, 5, 6, 2]
#############
captions room number is: 8

# Question 20

There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. You like all the integers in set A  and dislike all the integers in set B. Your initial happiness is 0 . For each  integer in the array, if ,i in A you add 1 to your happiness. If ,i in B you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

Note: Since  A and B are sets, they have no repeated elements. However, the array might contain duplicate elements.

Input Format

The first line contains integers n and m separated by a space.
The second line contains n integers, the elements of the array.
The third and fourth lines contain m integers, A and B , respectively.

Output Format

Output a single integer, your total happiness.

In [84]:
import numpy as np

In [91]:
int_ = input()
n = list(map(int,input().split()))
a = set(map(int, input().split()))
b = set(map(int, input().split()))
happiness = 0
for i in n:
    if i in a:
        happiness  = happiness+1
for i in n:
    if i in b:
        happiness  = happiness-1
print(happiness)

3 2
1 5 3
3 1
5 7
1

# Question 21

symmetric diffrence in accesnding order

Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both.

Input Format

The first line of input contains an integer,M .
The second line contains M space-separated integers.
The third line contains an integer,N .
The fourth line contains N space-separated integers.

Output Format

Output the symmetric difference integers in ascending order, one per line.

In [70]:
m = int(input())
a = set(map(int, input().split()))
n = int(input())
b = set(map(int, input().split()))
c = list(a.symmetric_difference(b))
c = sorted(c)
for i in c:
    print(i)

2
8 -10
3
5 6 7
-10
5
6
7
8